img {
	width: 30%;
	float: left;
	/* margin: top right bottom left; */
	margin: 1.66%;
}

p {
	font-family: Raleway;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 3px solid rgba(231, 11, 121, 0.179);
	width: 30%;
	padding-bottom: 20px;
	margin: 1.66%;	
}
a:hover{
    font-family: VT323, monospace;
    font-weight: 100;
    font-size: 1.1em; 
}