img {
	width: 30%;
	float: left;
	/* margin: top right left bottom; */
	margin: 1.66%;
}

p {
	font-family: Raleway;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 5px solid rgba(231, 11, 121, 0.397);
	width: 30%;
	padding-bottom: 20px;
<<<<<<< HEAD
	margin: 1.66%;
	
}
=======
	margin: 1.66%;	
}
>>>>>>> 92b63c2d40c57ebfee01f974143e1a3f4d23a8ed
