img {
	width: 30%;
	float: left;
	/* margin: top right left bottom; */
	margin: 1.66%;
}

p {
	font-family: Raleway;
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: 5px solid rgba(231, 11, 121, 0.397);
	width: 30%;
	padding-bottom: 20px;
	margin: 1.66%;
	
}